body {
    height: 100vh;
    main {
        flex-direction: row;
        margin: 0;
        height: 70%;
        width: 70%;
    

        section {
            justify-content: space-around;
            h1, p, button {
                margin: 0;
            }


            img {
                width: 65px;
            }

            h1 {
                font-size: 45px;
            }

            p {
                font-size: 20px;
                width: 80%;
            }

            button:hover {
                border: solid 2px $veryLightGray;
                cursor: pointer;
            }


        }

        #sedan {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 5px;

            button:hover {
                background-color: $brightOrange;
                color: $veryLightGray;
            }
        }

        #suvs {
            button:hover {
                background-color: $darkCyan;
                color: $veryLightGray;
            }
        }

        #luxury {
            border-bottom-left-radius: 0px;
            border-top-right-radius: 5px;

            button:hover {
                background-color: $veryDarkCyan;
                color: $veryLightGray;
            }
        }
    }

}

