body {
    height: 100vh;
    main {
        flex-direction: row;
        margin: 0;
        height: 70%;
        width: 70%;
    

        section {
            justify-content: space-between;
            h1, p {
                margin-top: 45px;
            }


            img {
                width: 65px;
            }

            h1 {
                font-size: 45px;
            }


        }

        #sedan {
            border-top-right-radius: 0px;
            border-bottom-left-radius: 5px;
        }

        #luxury {
            border-bottom-left-radius: 0px;
            border-top-right-radius: 5px;
        }
    }

}

